# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
.venv/

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Others
.pytest_cache/
.coverage
htmlcov/
.vscode/
.idea/
*.swp
*.swo
*.log
.DS_Store
Thumbs.db
